{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ author_name }}: {{ article.title | safe }} {% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ article.title | safe }}" />
<meta property="og:image" content="https://{{ request.get_host }}{{ article.og_image.url}}" />
<meta property="twitter:image" content="https://{{ request.get_host }}{{ article.og_image.url}}" />
<link rel="image_src" href="https://{{ request.get_host }}{{ article.og_image.url}}">
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="315" />
<meta property="og:type" content="blog" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:author" content="{{ author_name }}" />
{% endblock %}

{% block page_header %}
<a href="{% url 'home_page' %}">
    <img src="{% static 'img/avatar.jpeg' %}" />
    <span class="author-name">{{ author_name }}</span>
</a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12 col-lg-8">
            <div class="article">
                <h1 class="article-title">{{ article.title | safe }}</h1>
                <div class="article-text">{{ article.full_text | safe }}</div>
                
                <div class="article-footer">
                    
                    <div class="likely-wrapper">
                        <div class="likely">
                            <div class="twitter">{% translate "Твитнуть" %}</div>
                            <div class="facebook">{% translate "Поделиться" %}</div>
                            <div class="vkontakte">{% translate "Поделиться" %}</div>
                            <div class="telegram">{% translate "Отправить" %}</div>
                            <div class="whatsapp">{% translate "Вотсапнуть" %}</div>
                        </div>
                    </div>
                    📁<a href="{{ article.get_category_url }}">{{ article.category }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}