{% extends 'base.html' %}
{% load static %}

{% block title %}Сайт Алексея Куличевского{% endblock %}

{% block content %}    
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="article-list">
                {% for article in articles %}
                    <div class="article">
                        <h1 class="article-title">
                            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                        </h1>
                        <div class="article-text">{{ article.full_text | safe }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}  