@font-face {
  font-family: graphik-regular;
  src: url("../fonts/Graphik-Regular-Cy-Web.woff2") format("woff2"), url("../fonts/Graphik-Regular-Cy-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: graphik-black;
  src: url("../fonts/Graphik-Black-Cy-Web.woff2") format("woff2"), url("../fonts/Graphik-Black-Cy-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: graphik-semibold;
  src: url("../fonts/Graphik-Semibold-Web.woff2") format("woff2"), url("../fonts/Graphik-Semibold-Web.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}



html {
  position: relative;
  min-height: 100%;
}


body {
  color: #333;
  font-size: 18px;
  font-family: graphik-regular, Arial, Helvetica, sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
  line-height: 1.4rem;
}

strong {
  font-family: graphik-semibold, Arial, Helvetica, sans-serif;
}

.page-header {
  height: 9rem;
  margin-left: -20px;
}

h1, h2, h3 {
  font-family: graphik-black, Arial, Helvetica, sans-serif;
  line-height: 1.4em;
}

h4 {
  font-family: graphik-semibold, Arial, Helvetica, sans-serif;
}


h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.05rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

.avatar-top {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-family: graphik-black, Arial, Helvetica, sans-serif;
}

.avatar-top a {
  text-decoration: none;
  color: #333
}

.avatar-top img {
  width: 32px;
  margin-right: .2rem;
  clip-path: circle(15px at center);
  margin-top: -3px;
}

.article-image {
  width: 100%;

}

.inline-icon {
  display: inline;
  width: 1rem;
  padding-right: .1rem;
  padding-bottom: .1rem;
}

.bg-light-yellow {
  background-color: #fdf6e3;
}

.image-caption {
  font-size: .7rem;
  /* font-style: italic; */
  text-align: center;
  margin-top: 1rem;
}

.quote {
  padding-left: 1rem;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.8rem;
  border-left: .5em solid #fdf6e3;
}

.blog-splash {
  width: 100%;
}

.vertical-space {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.article {
  margin-bottom: 3rem;
}

.article-title {
  margin-bottom: 1rem;
}

.article-title a {
  text-decoration: none;
  color: #333;
}

.article-title a:hover {
  color: #555;
}

.article-footer {
  margin-top: 2rem;
  font-size: .8rem;
}

.article-footer a {
  color: #333;
  text-decoration: none;
  text-decoration: underline;
}

.article-footer a:hover {
  color: #777;
  
}

.text-accent {
  padding: 3rem 2rem 0rem 2rem;
  background-color: #fdf6e3;
  margin-bottom: 1rem;
}

.likely-wrapper {
  padding-bottom: 1em;
  display: block;
}

body .gist {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

body .gist .gist-file, body .gist .gist-file .gist-data {
  border: 0;
  background-color: #fdf6e3;
}

body .gist .gist-file {
  padding: 1rem;
  background-color: #fdf6e3;
}

body .gist .blob-wrapper {
  background-color: #fdf6e3;
  padding: 10em 0 10em .5rem;
  overflow-x: scroll;
}

body .gist table.highlight {
  background-color: transparent;
}

body .gist .gist-meta, body .gist .js-line-number {
  display: none;
}

body .gist .blob-code-inner {
  font-family: 'Anonymous Pro', monospace;
  font-size: .9rem;
  line-height: inherit;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 80%;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

figure table {
  margin-top: 0;
  margin-bottom: 0;
}

tr {
  font-family: graphik-regular;
  /* font-size: .9em; */
  line-height: inherit;
}

th {
  font-family: graphik-black;
  font-size: 1rem;
  padding: .5rem 1.5rem .5rem 0;
}

td, th {
  padding: .5rem 1.5rem .5rem 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #fff;
  font-family: graphik-regular, Arial, Helvetica, sans-serif;
  font-size: .8rem;
  font-weight: 600;
  color: #aaa;
}

.dummy {
  height: 5rem;
  /* border: 1px solid red; */
}

/* @media only screen and (max-width: 960px){ */
@media all and (min-device-width:569px) and (max-device-width: 960px) {
  body {
    font-size: 30px;
  }
}
@media all and (min-device-width:0px) and (max-device-width: 568px) {

  body {
    font-size: 40px;
  }

  h1 {
    font-size: 1.5rem;
  }

  div.container-lg {
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .page-header {
    height: 5rem;
  }

  .avatar-top img {
    width: 40px;
    margin-right: .2rem;
    clip-path: circle(19px at center);
    margin-top: -3px;
  }



  body .gist .blob-code-inner {
    font-size: 2rem;
  }

  table {
    width: 100%;
  }

  tr {
    font-size: 1.5rem;
  }
  
  th {
    font-size: 1.5rem;
  }
}
