{% load static %}
{% load i18n %}

<html>

<head>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-MS47VNR');</script>
    <!-- End Google Tag Manager -->
    <title>{% block title %}{{ author_name }}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{% static 'blog/likely.css' %}" rel="stylesheet">
    <script src="{% static 'blog/likely.js' %}"></script>
    <link href="{% static 'blog/styles.css' %}" rel="stylesheet">
    {% block opengraph %}{% endblock %}
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS47VNR" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="content">
        <div class="container-lg">
            <div class="row page-header">
                <div class="col margin-top-2em font-size-small">
                    <div class="avatar-top height-30px vertical-center">
                        {% block page_header %}
                        <img src=" {% static 'img/avatar.jpeg' %}" />
                        <span class="author-name">{{ author_name }}</span>
                        {% endblock %}
                    </div>
                </div>
                <div class="margin-top-2em login-link col font-size-small d-flex justify-content-end">
                    <!-- New column for the login link -->
                    <div class="height-30px vertical-center">
                        {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" style="color: #ccc" id="logout">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                <path fill-rule="evenodd"
                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg>
                        </a>
                        {% else %}
                        <a href="{% url 'login' %}" style="color: #ccc" id="login">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-lock" viewBox="0 0 16 16">
                                <path
                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                            </svg>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <footer class="footer">
        <div class="container-lg">
            <div class="credentials">
                <!-- © {{ author_name }} 2017–{% now "Y" %} -->
                © ИП Куличевский Алексей Дмитриевич
                <br />ОГРН 312 774 618 400 240,
                <br />ИНН 772 478 837 332,
                <br />115 409, Россия, Москва
                <br />Каширское шоссе,
                <br />д. 78, к. 4, кв. 345
                <br /><a
                    href="https://docs.google.com/document/d/1y3wF7ydZFDjxcH0GukILGsmEVkmyakZQz6rOQIveEnQ/edit?usp=sharing"
                    target="_blank">Оферта</a>
            </div>
        </div>
    </footer>
</body>

</html>