[Unit]
Description=Gunicorn server for {{ host }}

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/{{ ansible_user }}/sites/{{ host }}
EnvironmentFile=/home/{{ ansible_user }}/sites/{{ host }}/.env

ExecStart=/home/{{ ansible_user }}/sites/{{ host }}/venv/bin/gunicorn \
    --bind unix:/tmp/{{ host }}.socket \
    smysl3.wsgi:application

[Install]
WantedBy=multi-user.target
